.webtoon-01{
    background-image: url(../images/book-covers/webtoon-01.jpg);
    background-size: cover;
    background-position: center;
}
.webtoon-02{
    background-image: url(../images/book-covers/webtoon-02.jfif);
    background-size: cover;
    background-position: center;
}
.manhua-01{
    background-image: url(../images/book-covers/manhua-01.jpg);
    background-size: cover;
    background-position: center;
}
.manhua-02{
    background-image: url(../images/book-covers/manhua-02.jpg);
    background-size: cover;
    background-position: center;
}

.manga-01{
    background-image: url(../images/book-covers/manga-01.jfif);
    background-size: cover;
    background-position: center;
}
.manga-02{
    background-image: url(../images/book-covers/manga-02.png);
    background-size: cover;
    background-position: center;
}
.manga-03{
    background-image: url(../images/book-covers/manga-03.jpg);
    background-size: cover;
    background-position: center;
}
.manga-04{
    background-image: url(../images/book-covers/manga-04.jpg);
    background-size: cover;
    background-position: center;
}

.novel-01{
    background-image: url(../images/book-covers/novel-01.jpg);
    background-size: cover;
    background-position: center;
}
.novel-02{
    background-image: url(../images/book-covers/novel-02.jpg);
    background-size: cover;
    background-position: center;
}
.novel-03{
    background-image: url(../images/book-covers/novel-03.jpeg);
    background-size: cover;
    background-position: center;
}
.novel-04{
    background-image: url(../images/book-covers/novel-04.jpg);
    background-size: cover;
    background-position: center;
}
