.library{
    background-image: url(../images/library-girl.jpg);
    background-size: cover;
    background-position: center;
}
.manga{
    background-image: url(../images/manga.jfif);
    background-size: cover;
    background-position: center;
}
.pike{
    background-image: url(../images/pike.jpg);
    background-size: cover;
    background-position: center;
}